@media only screen and (max-width: 992px) {

header nav a{
    font-size: 16px;
    margin-left: 40px;
}

#photodiary{
    margin: 0 70px 90px 70px;
}

.posts{
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 .posts .grid{
    max-width:380px;
    margin-bottom: 80px;
}

.posts .grid img{
    width: 380px;
}

 .posts .grid h5{
    margin-bottom: 22px;
}

.posts .grid h2{
    font-size: 26px;
    margin-bottom: 30px;
}

footer {
    height: 240px;
    text-align: center;
    padding: 0;
    margin-bottom: 50px;
}

footer h2{
    padding-top: 20px;
}
}